<!-- CLASS NAV LEFT  -->
<% if navbar.include? (:home) %>
	<li class="nav_left">
		<%= link_to home_path do %>
			<img src="http://i.imgur.com/jvgD4nz.png" id="logo">
		<% end %>
	</li>
<% end %>

<% if navbar.include? (:search) %>
	<li class="nav_left" id="search">
		<%= render 'home/search' %>
	</li>
<% end %>

<!-- CLASS NAV RIGHT  -->

<% if navbar.include? (:all_boards) %>
	<li class="nav_right">
		<%= link_to "Cork Boards", boards_path %></li><li class="divider nav_right">|</li>
	</li>
<% end %>

<% if navbar.include? (:all_users) %>
	<li class="nav_right">
		<%= link_to "Members", users_path %></li><li class="divider nav_right">|</li>
	</li>
<% end %>

<% if navbar.include? (:welcome) %>
	<li class="nav_right" id="profile">
		<span>Welcome <%= current_user.username %></span><br>
		<%= link_to "Profile", user_path(current_user) %> <span class="divider" id="divider">|</span> <%= link_to "Log Out", sessions_path, method: :delete %>
	</li>
	<li><img src="<%= current_user.avatar %>" id="thumb_avatar"></li>
<% end %>

<% if navbar.include? (:sign_up) %>
	<li class="nav_right">
		<%= link_to "Sign Up", new_user_path %></li><li class="divider  nav_right">|</li>
	</li>
<% end %>

<% if navbar.include? (:log_in) %>
	<li class="nav_right">
		<%= link_to "Log In", login_path %>
	</li>
<% end %>