<%= form_for @board do |f| %>
<div class="input">
  <%= f.label :name, "Board Name:" %>
  <%= f.text_field :name %>
</div>

<div class="input">
  <%= f.label :theme, "Project Theme:" %>
  <%= f.text_field :theme %>
</div>

<div class="input">
  <h4>Board Privacy Settings:</h4>
  <%= f.radio_button(:public, true) %>  
  <%= f.label(:public, "Public") %>

  <%= f.radio_button(:public, false) %>
  <%= f.label(:public, "Private") %>
</div>

	<%= f.submit 'Create My Board', :id=>"submit" %>
<% end %>
