<div class="main_content">
	<h1>
		<%= @board.name %>
	</h1>

	<!-- board information contained in this block -->
	<p>
		<span>Created by:</span> <%= @board.user.first_name %> <%= @board.user.last_name %><br>
		<% if @board.public == true %>
			This board is public.
		<% else %>
			<%= @board.name %> This Board is private.
		<% end %>
		
	<!-- if the logged in user is viewing a board they made, they will be able to see the find more images and edit board info button -->
	<% if @board.user == @current_user %>
		<%= render partial: 'buttons', locals: {new_board: false, edit_board: true,  find_image: true, delete: true} %><br>
	<% end %>
	</p>

<% if session[:current_user_id] == @board.user.id %>
		<%= form_tag(image_path, :method => "delete") do %>
			<% @board.images.each do |image| %> 
				<div class="single board">
					<br>
					Select Image: <%= check_box_tag("selected_images[]", image.id) %>
					<br><br>
					<!-- makes the image a link to that images image show page -->
					<%= link_to(image_path(image)) do %>
						<img class="board_image" src="<%= image.imgurl %>">
					<% end %>
					<br><br>
					<div class="url_box">
					<b>Copy Image URL:</b>
						<input type="text" name="url" value="<%= image.imgurl %>" size="30" readonly>
						<%= hidden_field image.id, :value => image.id %>
					</div>
					<br><br>
				</div>
			<% end %>
			<%= button_tag "Delete Selected Images" %>
		<% end %>
	<% else %>
	<!-- code block adds the images that belong to that specific board to the show view  -->
	<% @board.images.each do |image| %> 
		<div class="single board">
			<!-- makes the image a link to that images image show page -->
			<%= link_to(image_path(image)) do %>
				<img src="<%= image.imgurl %>">
			<% end %>
			<%= image.imgurl %>
		</div>
	<% end %>
<% end %>
	<br>

</div>