<div class="main_content board_show">
	<h1>
		<%= @board.name %>
	</h1>
	<!-- board information contained in this block -->
	<p>
		<span>Created by:</span> <%= @board.user.first_name %> <%= @board.user.last_name %>
		<% if @board.public == true %>
			This board is public.
		<% else %>
			This Board is private.
		<% end %>
	</p>

	<hr>
		<h3>To placehold images from this board uuse the example link below with your image dimensions!</h3>
		<h4> https://placeholdr-app.herokuapp.com/boards/<%= params[:id] %>/200/200 </h4>
		<h4> https://placeholdr-app.herokuapp.com/boards/<%= params[:id] %>/length/width </h4>
	<hr>

	<% if @board.user == current_user %>
		<!-- if the logged in user is viewing a board they made, they will be able to see the find more images and edit board info button -->
		<div class="button_block">
				<%= render partial: 'buttons', locals: {buttons: [:edit_board, :find_image, :delete_board]} %>
		</div>

		<div id="board_images_block">
					<%= form_tag(image_path, :method => "delete") do %>
						<% @board.images.each_with_index do |image, index| %> 
							<div class="board_image">
								Select Image: <%= check_box_tag("selected_images[]", image.id) %>
								<!-- makes the image a link to that images image show page -->
								<%= link_to(image_path(image)) do %>
									<img src="<%= image.imgurl %>" class="board_single_image"><br>
								<% end %>
								<div class="url_container">
									Copy Image URL: <input type="text" name="url" value="<%= @short_url[index] %>" readonly>
									<%= hidden_field image.id, :value => image.id %>	
								</div>							
							</div>
						<% end %>
						<hr>
						<% if @board.images.count > 0 %>
							<span class="search_submit"><%= submit_tag("Delete Selected Images") %></span>
						<% end %>
					<% end %>
			<% else %>
				<!-- code block adds the images that belong to that specific board to the show view  -->
				<% @board.images.each do |image| %> 
					<!-- makes the image a link to that images image show page -->
					<%= link_to(image_path(image)) do %>
							<img src="<%= image.imgurl %>">
					<% end %>
					<div class="url_container">
									Copy Image URL: <input type="text" name="url" value="<%= BitlyWrapper.short(image.imgurl) %>" readonly>
									<%= hidden_field image.id, :value => image.id %>	
					</div>	
				<% end %>
		</div>
	<% end %>
</div>