<div class="main_content board_show">
	<h1>
		<%= @board.name %>
	</h1>
	<!-- board information contained in this block -->
	<p>
		<span>Created by:</span> <%= @board.user.first_name %> <%= @board.user.last_name %>
		<% if @board.public == true %>
			This board is public.
		<% else %>
			This Board is private.
		<% end %>
	</p>
	<hr>
	<!-- if the logged in user is viewing a board they made, they will be able to see the find more images and edit board info button -->
	<div class="button_block">
		<% if @board.user == @current_user %>
				<%= render partial: 'buttons', locals: {new_board: false, edit_board: true,  find_image: true, delete: true} %>
		<% end %>
	</div>
	
	<div id="images_block">
		<% if session[:current_user_id] == @board.user.id %>
				<%= form_tag(image_path, :method => "delete") do %>
					<% @board.images.each do |image| %> 
						<div class="image">
							Select Image: <%= check_box_tag("selected_images[]", image.id) %>
							<!-- makes the image a link to that images image show page -->
							<%= link_to(image_path(image)) do %>
								<img src="<%= image.imgurl %>" class="single_image"><br>
							<% end %>
							<div class="url_container">
								Copy Image URL: <input type="text" name="url" value="<%= image.imgurl %>" size="30" readonly>
								<%= hidden_field image.id, :value => image.id %>	
							</div>
						</div>
					<% end %>
					<hr>
					<% if @board.images.count > 0 %>
						<%= button_tag "Delete Selected Images", :id=>"search_submit" %>
					<% end %>
				<% end %>
		<% else %>
			<!-- code block adds the images that belong to that specific board to the show view  -->
			<% @board.images.each do |image| %> 
				<!-- makes the image a link to that images image show page -->
				<%= link_to(image_path(image)) do %>
						<img src="<%= image.imgurl %>">
				<% end %>
				<%= image.imgurl %>	
			<% end %>
		<% end %>
	</div>
</div>