<h1>
	<%= @board.name %>
</h1>

<h3>
	Created by: <%= @board.user.first_name %><br>

	<% if @board.public == true %>
		<%= @board.name %> Board is public.
	<% else %>
		<%= @board.name %> This Board is private.
	<% end %>
</h3>

<% @board.images.each do |image| %> 
	<img src="<%= image.imgurl %>">
<% end %>
<br>

<%= render partial: 'buttons', locals: {new_board: false, edit_board: true} %><br>