<div class="main_content images">
	<h1>Search Results for: <%= params[:search] %></h1>
	<div id="all_images">
		<% if session[:current_user_id] %>
			
			<%= form_tag(images_path, :method => "post") do %>				
				<% @images.each_with_index do |image, index| %>
					<div class="single_image">
						
						<%= render partial: 'images', locals: {image: image, index: index, logged_in: [:yes]} %>

						<br class="vital">
						<hr>	
					</div>
				<% end %>
				<h4>Select Cork Board:</h4>
				<p>Please select at least one image to add to your board.</p>			
				<%= collection_select(nil, :board_id, @boards, :id, :name) %>
				<span class="search_submit"><%= submit_tag("Save Images") %></span>
			<% end %>

		<% else %>

			<% @images.each_with_index do |image, index| %>
				<div class="single_image">
					<%= render partial: 'images', locals: {image: image, index: index} %>
						
					<br class="vital">
					<hr>	
				</div>
			<% end %>	
		</div>

	<% end %>


</div>

