<div>
		<p> Image Title : <%= @image.title %> </p>
		<p> Width : <%= @image.width %>, Height : <%= @image.height %> </p>
		<p> File Type : <%= image.filetype %> </p>
		<img src="<%= image.imgurl %>">
</div>