<div class="main_content images" id="image_show">
	<img src="<%= @image.imgurl %>">
	<div class="image_info">
		<p> 
		<span>Image Title:</span> <%= @image.title %><br>
		<span>Width:</span> <%= @image.width %>,<br> 
		<span>Height:</span> <%= @image.height %><br>
		<span>File Size:</span> <%= @image.filesize %>
		</p>
	</div>
	
	<div class="url_container">
		Copy Image URL: <input type="text" name="url" value="<%= @short_url %>" readonly>
	</div>

	<hr>

	<div id="color_block">
		<h2>Image's dominant colors</h2>
		<div id="all_colors">
			<!-- the below line makes an array containing 8 of the dominant colors from the image -->
			<% img = Miro::DominantColors.new("#{@image.imgurl}").to_hex %>
			<% img.each do |color| %>
					<div style="background-color: <%= color %> " class="single_color"> <span><%= color %></span> </div> 
			<% end %>
		</div>	
	</div>
</div>