<div class="main_content">
	<div class="container" id="all_boards">
		<div class="single image">
				<p> 
					Image Title: <%= @image.title %>
					Width: <%= @image.width %>, 
					Height: <%= @image.height %>
					File Size: <%= @image.filesize %>
				</p>
				<img src="<%= @image.imgurl %>">
				<br>
				<div class="url_box">
					Copy Image URL:
						<input type="text" name="url" value="<%= @image.imgurl %>" readonly>
				</div>
				<div>
					Image's dominant colors
						<% img = Miro::DominantColors.new("#{@image.imgurl}").to_hex %>
						<% img.each do |color| %>
							<div style="background-color: <%= color %> "> <%= color %> </div> 
						<% end %>
				</div>	
		</div>
	</div>
</div>
