<!DOCTYPE html>
<html>
<head>
  <title>Placehold.r</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- class is set to that value because you want the class of the navbar to = what page the user is on -->
<nav class='nav-<%= params[:controller]%>' id="navbar">
	<img src="http://i.imgur.com/QwBNW0D.png" id="logo">
	<ul>
		<% if session[:current_user_id] %>
			<%= render partial: 'sessions/navbar', locals: { welcome: true, profile: true, log_in: false, log_out: true, sign_up: false, home: true, all_users: true, all_boards: true, search: true } %>
		<% else %>
			<%= render partial: 'sessions/navbar', locals: { welcome: false, profile: false, log_in: true, log_out: false, sign_up: true, home: true, all_users: false, all_boards: true, search: true } %>
		<% end %>
	</ul>
</nav>


<%= yield %>

</body>
</html>