<!DOCTYPE html>
<html>
<head>
  <title>Placehold.r</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<!-- class is set to that value because you want the class of the navbar to = what page the user is on -->
<header id='nav-<%= params[:controller]%>'>
	<!-- <img src="http://i.imgur.com/QwBNW0D.png" id="logo"> -->
	<ul id="navbar">
		<% if session[:current_user_id] %>
			<%= render partial: 'sessions/navbar', locals: { navbar: [:welcome, :profile, :home, :all_users, :all_boards, :search] } %>
		<% else %>
			<%= render partial: 'sessions/navbar', locals: { navbar: [:log_in, :sign_up, :home, :all_boards, :search] } %>
		<% end %>
	</ul>
</header>


<%= yield %>

</body>
</html>